.Excercise2Container {
    flex-direction: row;
    padding: 30px 28px;
    text-align: center;
    background: rgb(231, 231, 231);
}

.Excercise3Container {
    flex-direction: row;
    padding: 14px;
    background: white;
    display: flex;
}
