.FooterInformation {
    margin-top: 14px;
    font-size: 10px;
    text-align: start;
    color: rgb(148, 142, 142);
}

.FooterInformation::before {
    content: '';
    border-top: 1px rgb(224, 224, 224) solid;
    display: block;
    padding-top: 11px;
}

.FooterInformation .FooterInformation__Icon {
    padding: 2px;
}

.FooterInformation.FooterInformation--alert .FooterInformation__Icon {
    color: red;
}

.FooterInformation.FooterInformation--alert .FooterInformation__Description {
    color: violet;
}