@import './variables.css';

.HeroBanner {
    color:white;
    background: var(--hero-banner-color);
    height: 200px;
    padding: 45px;
    text-align: center;
    position: relative;
}

.HeroBanner .HeroBanner__Header1 {
    font-size: 24px;
    font-weight: bold;
}

.HeroBanner .HeroBanner__Header2 {
    margin-top: 12px;
}

@media only screen and (max-width: 1240px) {
    .HeroBanner {
        height: 75px;
        padding: 20px;
    }

    .HeroBanner .HeroBanner__Header1 {
        display: none;
    }
    
    .HeroBanner .HeroBanner__Header2 {
        display: none;
    }
}
