
@import './variables.css';
.HeroBanner {
    color:white;
    background: var(--hero-banner-color);
    height: 200px;
    padding: 45px;
    text-align: center;
}

.HeroBanner .HeroBanner__Header1 {
    font-size: 24px;
    font-weight: bold;
}

.HeroBanner .HeroBanner__Header2 {
    margin-top: 12px;
}
