.MenuItem {
    color:grey;
    margin: 5px 0;
    transition: all 0.3s;
    cursor: pointer;
}

.MenuItem:hover {
    color:white;
    background: purple;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,.12);
    border-radius: 3px;
}

.MenuItem .MenuItem__Icon {
    padding: 13px;
    min-width: 14px;
}

.MenuItem .MenuItem__Text {
    word-break: break-all;
}

.MenuItemSpace {
    /* align-self: flex-end; */
    flex-grow: 1;
}

@media only screen and (max-width: 540px) {
    .MenuItem .MenuItem__Text {
        display: none;
    }
}