.SearchBoxContainer {
    width: 100%;
    display: flex;
    margin: 24px 30px;
    /* justify-content: center;
    align-items: center; */
}

.SearchBox__Button {
    width: 100px;
    height: 37px;
}