@import './variables.css';

.SearchResultContainer {
    background: rgb(238, 237, 237);
    width: 100%;
}

.SearchResultCard {
    display: flex;
    flex-direction: row;
}

.ImageListContainer{
    width: 200px;
}

.ImageList_Main{
    width: 100%;
    height: auto;
}

.SubImageContainer {
    margin-top: -4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ImageList_Sub {
    width: 65px;
    height: 65px;
    background: url("../assets/hotel.png") 50% 50% no-repeat;
    background-size: cover;
}

.HotelDetails {
    padding: 10px;
    font-size: 11px;
    width: 343px;
}

.StarsContainer {
    margin-right: 4px;
}

.HotelDetails__Star {
    color: orange;
}

.LocationContainer {
    color: rgb(40, 108, 253);
}

.OptionsContainer {
    height: 19px;
    padding: 10px 0;
}
.Options__Header {
    display: inline-block;
    background: var(--options-color);
    color: white;
    font-weight: bold;
    height: 100%;
    padding: 1px 4px 0 4px;
    position: relative;
}

.Options__Header::before {
    border-top: 20px solid var(--options-color);
    position: absolute;
    top: 0;
    right: -6px;
    width: 0;
    height: 0;
    border-right: 6px solid transparent;
    content: '';
}

.Options__Item {
    background: white;
    display: inline-block;
    height: 100%;
    color: var(--options-color);
    padding: 0 4px;
}

.Options__Item:nth-child(2) {
    padding-left: 8px;
}

.Options__Item:nth-last-child(2) {
    width: 55px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.Options__Item__Icon {
    padding: 0 1px;
}

.HotelDetails__PromoBox {
    background: white;
    color: rgb(85, 13, 145);
    border: rgb(85, 13, 145) solid 1px;
    border-radius: 3px;
    display: inline-block;
    padding: 3px 5px;
    vertical-align: bottom;
    margin: 10px 0;
}

.HotelDetails__PromoText {
    color: rgb(207, 6, 6);
}

.PriceDetails {
    background: white;
    width: 170px;
}

.InsiderDeals {

}