.SummaryContainer {
    display: flex;
    justify-content: space-between;
}

.Summary {
    position: relative;
    height: 100%;
}

.Summary .Summary__IconContainer {
    color: white;
    background: white;
    position: absolute;
    width: 70px;
    height: 70px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,.12);
    border-radius: 3px; 
    left: 12px;
}

.Summary .Summary__IconContainer.Summary__IconContainer--orange {
    background: orange;
}

.Summary .Summary__IconContainer.Summary__IconContainer--green {
    background: green;
}

.Summary .Summary__IconContainer.Summary__IconContainer--red {
    background: rgb(221, 70, 43);
}

.Summary .Summary__IconContainer.Summary__IconContainer--blue {
    background: rgb(80, 171, 228);
}

.Summary .Summary__Icon {
    color: white;
    padding: 20px;
    font-size: 26px;
}

.SummaryInfo {
    background: white;
    margin-top: 15px;
    box-shadow: 0 4px 7px 0 rgba(0,0,0,.12);
    border-radius: 2px; 
    width: 170px;
    height: 100%;
    padding: 12px;
    transition: all 0.3s;
}

 .SummaryInfo:hover {
    background: rgb(224, 248, 255);
}

.SummaryInfo .SummaryInfo__Title {
    color: rgb(184, 184, 184);
    text-align: end;
    font-size: 12px;
}

.SummaryInfo .SummaryInfo__Value {
    font-size: 22px;
    text-align: end;
    padding-top: 27px;
    color: rgb(85, 85, 85);
}

.SummaryInfo .SummaryInfo__Value.SummaryInfo__Value--short {
    padding-top: 0;
}


.SummaryInfo .SummaryInfo__SubValue {
    color: rgb(129, 129, 129);
    font-size: 16px;
}